{
  "name": "Weather",
  "values": [
    {
      "key": "OWM_KEY",
      "value": "{{OWM_KEY}}",
      "type": "secret",
      "enabled": true
    },
    {
      "key": "WEATHERAPI_KEY",
      "value": "{{WEATHERAPI_KEY}}",
      "type": "secret",
      "enabled": true
    }
  ]
}
